$color-text: #696980;
$color-text-grey: #44444f;
$color-text-blue: #9191b5;
$color-text-white: #ffffff;
$color-text-green: #65e496;

$bg-white: #ffffff;
$bg-ligt-grey: #f5f6fa;
$gb-dark-grey: #44444f;
$bg-blue: #5189a0;

$color-button: #65e47d;
$color-button-gradient-left: #65e4a1;
$color-button-gradient-right: #65e4ce;

$gradient-right: #54b7a1;
$gradient-left: #426384;

$fa-font-path: "../fonts/webfonts";

$laptop: 1024px;
$tablet: 768px;
