.block {
  background-color: $bg-white;
  
  &--grey {
    background-color: $bg-ligt-grey;
  }

  &--dark-grey {
    background-color: $gb-dark-grey;
  }

  &--arrow-down {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;

    @media (max-width: $tablet) {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &::before, &::after{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      border: solid 50vw $gb-dark-grey;
      border-width: 50vw;
      border-top-width: 60px;
      border-bottom-width: 0;

      @media (max-width: $tablet) {
        border-top-width: 30px;
      }
    }

    &::before {
      top: -60px;
      border-color: transparent $gb-dark-grey;

      @media (max-width: $tablet) {
        top: -30px;
      }
    }

    &::after {
      bottom: -60px;
      border-color: $gb-dark-grey transparent transparent;

      @media (max-width: $tablet) {
        bottom: -30px;
      }
    }
  }
}

.author {
  padding-top: 160px;
  padding-bottom: 160px;

  @media (max-width: $laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;

    @media (max-width: $tablet-l) {
      margin-bottom: 50px;
      padding-right: 30px;
      padding-left: 30px;
      flex-direction: column-reverse;
      align-content: center;
      text-align: center;
    }

    @media (max-width: $tablet) {
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__about {
    margin-right: 90px;
    width: 49%;
    padding-top: 15px;
    letter-spacing: 1.7px;

    @media (max-width: $tablet-l) {
      margin-right: 0;
      margin-bottom: 50px;
      padding-top: 0;
      width: auto;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: normal;

    @media (max-width: $tablet) {
      margin-bottom: 10px;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 14px;

    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1.5px;
    color: $color-text-grey;

    @media (max-width: $tablet) {
      font-size: 25px;
      line-height: 25px;
    }
  }

  &__slogan {
    margin: 0;
    margin-bottom: 41px;

    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.9px;
    color: $color-text-green;

    @media (max-width: $tablet) {
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 24px;
    letter-spacing: 0.6px;
    text-align: left;
  }

  &__more {
    margin-top: 24px;
    padding-right: 28px;
    padding-left: 28px;

    @media (max-width: $tablet) {
      margin-top: 0;
    }
  }

  &__photo {
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 44px;
    
    background-image: linear-gradient(to bottom right, rgba($gradient-left, 1), rgba($gradient-right, 1));
    line-height: 0;

    @media (max-width: $tablet-l) {
      margin-bottom: 50px;
    }

    @media (max-width: $tablet) {
      position: relative;
      padding-top: 24px;
      padding-bottom: 22px;
      margin-bottom: 25px;
      //margin-left: 22px;
      left: 11px;
    }
  }

  &__img {
    position: relative;
    width: 438px;
    height: 466px;
    left: -44px;

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
      left: -22px;
    }
  }
}

.feature {
  &__list{
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;

    @media (max-width: $tablet-l) {
      margin: 0 30px;
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__item{
    margin: 0;

    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__mark{
    margin: 0;
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 80px;
    font-weight: 100;
    color: $color-text-green;

    @media (max-width: $tablet) {
      margin-bottom: 10px;
    }
  }

  &__desc{
    margin: 0;
    font-size: 18px;
    line-height: 18px;
  }
}

.contents {
  padding-top: 153px;
  padding-bottom: 256px;

  @media (max-width: $laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;

    font-size: 48px;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
    color: $color-text-grey;

    @media (max-width: $tablet) {
      font-size: 25px;
      line-height: 25px;
    }
  }

  &__slogan {
    margin: 0;
    margin-bottom: 83px;

    font-size: 18px;
    letter-spacing: 1.2px;
    text-align: center;
    color: $color-text-green;

    @media (max-width: $tablet) {
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $laptop) {
      padding-right: 30px;
      padding-left: 30px;

      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    @media (max-width: $tablet) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__about {
    flex-basis: 470px;
    margin-right: 55px;

    @media (max-width: $laptop) {
      flex-basis: auto;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1.2px;
    color: $color-text-grey;

    @media (max-width: $tablet) {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;

    letter-spacing: 0.6px;
    text-align: left;
  }

  &__wrap {
    margin: 0;
    padding: 0;

    @media (max-width: 630px) {
      margin: 0 auto;
      padding: 0;
      display: table;
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    padding-top: 5px;

    counter-reset: list;

    column-count: 2;
    column-gap: 28px;

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.7px;
    list-style-type: none;
    text-align: left;

    @media (max-width: 630px) {
      column-count: 1;
      column-gap: 0;
    }

    &--more {
      display: none;
      position: relative;

      counter-reset: list 10;

      @media (max-width: 630px) {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -14px;
        width: 25%;
        height: 1px;
        background: $bg-blue;
        background-image: linear-gradient(90deg, rgba($color-button-gradient-left, 0.7), rgba($color-button-gradient-right, 0.7));
      }
    }
  }

  &__item {
    position: relative;
    padding-left: 34px;
    margin-bottom: 8px;
    margin-right: 2px;

    @media (max-width: 630px) {
      margin-right: 0;
    }

    &::before {
      counter-increment: list;
      content: counter(list)'. ';
    }

    &::after {
      content: '+';
      display: inline-block;
      width: 22px;
      height: 22px;

      position: absolute;
      top: 0;
      left: 0;

      text-align: center;
      line-height: 22px;
      background: $bg-blue;
      background-image: linear-gradient(90deg, rgba($color-button-gradient-left, 0.7), rgba($color-button-gradient-right, 0.7));
      color: $color-text-white;
    }
  }

  &__table {
    width: 570px;

    @media (max-width: $laptop) {
      //flex-basis: auto;
      //width: 570px;
      margin: 0 auto;
    }

    @media (max-width: 630px) {
      width: 100%;
    }
  }

  &__btn-more {
    padding: 14px 45px;
  }

}

.featured {
  display: flex;

  &__title {
    margin: 0;
    margin-right: 23px;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: $color-text-grey;
  }

  &__list {
    margin: 0;
    
    list-style-type: none;    
  }

  &__item {
    margin: 0;
    margin-right: 13px;
    display: inline-block;

    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
  }

  &__link {
    color: $color-text-green;
  }
}

.other-books {
  padding-top: 150px;
  padding-bottom: 161px;
  text-align: center;

  @media (max-width: $laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 48px;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
    color: $color-text-grey;

    @media (max-width: $tablet) {
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 25px;
    }
  }

  &__slogan {
    margin: 0;
    margin-bottom: 88px;

    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.9px;
    color: $color-text-green;

    @media (max-width: $laptop) {
      margin-bottom: 50px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 40px;
      font-size: 15px;
      line-height: 15px;
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 84px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    text-align: center;
    
    @media (max-width: $tablet-l) {
      margin: 0 auto 50px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 50%;
    }
  }

  &__item {
    margin: 0;
  }

  &__item:not(:last-child) {
    margin-right: 30px;

    @media (max-width: $tablet-l) {
      margin-right: 0;
      margin-bottom: 70px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 50px;
    }
  }

  &__cover {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__name {
    margin: 0;
    margin-bottom: 18px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-text-grey;

    @media (max-width: $tablet) {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 22px;
    }
  }

  &__desk {
    margin: 0 20px 16px;

    letter-spacing: 0.6px;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: $tablet) {
      margin: 0 0 10px;
    }
  }

  &__more {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-text-green;
  }

  &__more-all {
    padding: 12px 33px;
  }
}

.other-books-cover {  
  position: relative;
  width: 269px;
  height: 409px;

  &__img {
    width: 269px;
    height: 409px;
  }

  &__name {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 70px 20px 33px 54px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-text-white;
  }

  &__slogan {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.7px;
    color: $color-text-green;
  }

  &__by {
    margin: 0;
    margin-top: auto;
    margin-right: 13px;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.7px;
    color: $color-text-green;
  }
}

.testimonial {
  padding-top: 163px;
  padding-bottom: 110px;
  color: $color-text-blue;

  @media (max-width: $laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $tablet) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__list {
    margin: 0 210px;
    margin-bottom: 49px;

    list-style-type: none;
    text-align: center;

    @media (max-width: $laptop) {
      margin: 0 90px;
    }

    @media (max-width: $tablet) {
      margin: 0;
    }
  }

  &__item {
    margin: 0;
    width: 100%;
  }

  &__photo {
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 2px;
    width: 152px;
    height: 152px;
    border-radius: 50%;

    @media (max-width: $tablet) {
      margin-bottom: 20px;
    }

    &::after {
      content: url('../img/quotation-right-mark.svg');
      position: absolute;
      top: 0;
      right: -14px;
      width: 48px;
      height: 42px;
      background-image: linear-gradient(90deg, rgba($color-button-gradient-left, 0.7), rgba($color-button-gradient-right, 0.7));
      background-clip: text;
      -webkit-background-clip: text;
      font-size: 48px;
      line-height: 42px;
      color: $color-text-green;
    }
  }

  &__img {
    object-fit: none;
    object-position: center -10px;
    width: 152px;
    height: 152px;
    border-radius: 50%;
  }

  &__name {
    margin: 0;
    margin-bottom: 5px;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: $color-text-green;

    @media (max-width: $tablet) {
      font-size: 22px;
      line-height: 22px;
    }
  }

  &__position {
    margin: 0;
    margin-bottom: 35px;

    letter-spacing: 0.7px;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0;
    letter-spacing: 0.7px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
  }
}

.events {
  margin: 0;
  padding-top: 162px;
  padding-bottom: 180px;

  @media (max-width: $laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet-l) {
      padding-right: 30px;
      padding-left: 30px;
      flex-direction: column-reverse;
      align-content: center;
      text-align: center;
    }

    @media (max-width: $tablet) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__photo {
    margin: 0 auto;
    align-self: flex-start;

    background-image: linear-gradient(to bottom right, rgba($gradient-left, 1), rgba($gradient-right, 1));

    font-size: 0;
    line-height: 0;

    @media (max-width: $tablet) {
      position: relative;
      padding-top: 24px;
      padding-bottom: 22px;
      left: -11px;
    }
  }

  &__img {
    position: relative;
    padding: 49px 0;
    width: 440px;
    height: 606px;
    left: 50px;

    @media (max-width: $tablet) {
      padding: 0;
      width: 100%;
      height: auto;
      left: 22px;
    }
  }

  &__upcoming {
    margin-left: 80px;
    flex-basis: calc(50% - 15px);

    @media (max-width: $tablet-l) {
      margin-left: 0;
      margin-bottom: 50px;
    }
  }

  &__author {
    margin: 0;
    margin-bottom: 36px;

    font-size: 18px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.1px;

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.9px;
    color: $color-text-grey;

    @media (max-width: $tablet) {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;

    font-size: 18px;
    letter-spacing: 0.9px;
    color: $color-text-green;

    @media (max-width: $tablet) {
      font-size: 15px;
      line-height: 15px;
    }
  }

  &__list {
    margin: 0;

    list-style-type: none;
  }

  &__item {
    margin: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 57px;

    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__date {
    margin: 0;
    margin-bottom: 4px;

    letter-spacing: 0.7px;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__motive {
    margin: 0;
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    color: $color-text-grey;
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;

    letter-spacing: 0.75px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
  }

  &__register {
    padding: 11px 27px 13px 33px;
  }
}

.blog {
  margin: 0;
  padding-top: 155px;
  padding-bottom: 160px;

  text-align: center;

  @media (max-width: $laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $color-text-grey;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 88px;

    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.9px;
    color: $color-text-green;

    @media (max-width: $laptop) {
      margin-bottom: 50px;
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style-type: none;

    @media (max-width: $tablet-l) {
      margin: 0 auto;
      padding-right: 30px;
      padding-left: 30px;
      flex-direction: column;
      align-content: center;
      text-align: center;
      width: 50%;
    }
  }

  &__item {
    margin: 0;
    margin-bottom: 50px;
    flex-basis: calc((100% - 60px) / 3);
    width: calc((100% - 60px) / 3);

    @media (max-width: $tablet-l) {
      margin: 0;
      margin-bottom: 50px;
      width: 100%;
    }
  }

  &__item:not(:nth-child(3n)) {
    margin-right: 30px;

    @media (max-width: $tablet-l) {
      margin-right: 0;
    }
  }

  &__more {
    padding: 12px 30px;
  }
}

.post {
  text-align: left;

  &:hover &__img {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
  }

  &__wrapper-img {
    position: relative;
    display: block;
    //width: 369px;
    width: 100%;
    height: 224px;
    margin-bottom: 13px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    width: 369px;
    height: 224px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    object-fit: cover;

    @media (max-width: $tablet-l) {
      width: 100%;
      top: 50%;
    }
  }

  &__link {
    text-decoration: none;
    font: inherit;
    color: inherit;
  }

  &__title {
    margin: 0;
    margin-bottom: 6px;

    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.9px;
    color: $color-text-grey;
  }

  &__data {
    margin: 0;
    margin-bottom: 12px;

    letter-spacing: 0.7px;
    font-family: 'Open Sans', sans-serif;
  }

  &__author {
    margin: 0;

    text-decoration: none;
    color: $color-text-green;
  }

  &__date {
    margin: 0;

    text-decoration: none;
    color: $color-text-green;

    @media (max-width: $laptop) {
      display: block;
    }

    @media (max-width: $tablet-l) {
      display: inline;
    }
  }

  &__text {
    margin: 0;
    letter-spacing: 0.6px;
  }
}

.subscribe {
  margin: 0;
  padding-top: 156px;
  padding-bottom: 155px;

  @media (max-width: $laptop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__wrapper {
    display: flex;

    @media (max-width: $tablet-l) {
      padding-right: 30px;
      padding-left: 30px;
      flex-direction: column;
      align-content: center;
      text-align: center;
    }
  }

  &__desc {
    margin: 0;
    margin-right: 30px;
    flex-basis: calc((100% - 30px) / 2);

    text-align: left;

    @media (max-width: $tablet-l) {
      margin: 0 auto 50px;
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;

    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $color-text-grey;

    @media (max-width: $tablet-l) {
      margin-bottom: 50px;
    }
  }

  &__text {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.75px;
    text-align: left;
  }

  &__form {
    margin: 0;
    padding-top: 6px;
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
    flex-direction: column;

    @media (max-width: $tablet-l) {
      padding-top: 0;
      margin: 0 auto;
      flex-basis: auto;
      width: 50%;
    }
  }

  &__email {
    margin-bottom: 20px;
  }

  &__join {
    margin-bottom: 20px;
    padding: 14px 25px;

    @media (max-width: $tablet-l) {
      margin-bottom: 0;
    }
  }
}

.form {
  &__input {
    padding: 15px 27px;
    border: none;
    border-radius: 3px;

    color: $color-text-white;
    background-color: $gb-dark-grey;

    letter-spacing: 0.75px;
    font-family: 'Open Sans', sans-serif;

    &::placeholder {
      color: $color-text-blue;
    }
  }
}

.slick-dots {
  margin: 0;
  margin-top: 35px;
  margin-left: 2px;

  text-align: center;
  list-style: none;

  @media (max-width: $tablet) {
    margin-top: 20px;
    margin-left: 0;
  }

  & li {
    display: inline-block;
  }

  & li:not(:last-child) {
    margin-right: 9px;
  }

  & button {
    display: inline-block;
    padding: 0;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba($color-button-gradient-left, 0.7), rgba($color-button-gradient-right, 0.7));

    font-size: 0;
    line-height: 0;

    transition: 0.5s;
  }

  & .slick-active button {
    width: 37px;
  }
}