.main-footer {
  padding-top: 160px;
  padding-bottom: 160px;

  color: $color-text-blue;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    flex-basis: 370px;
    margin-right: 130px;
  }

  &__links {
    flex-basis: 270px;
    margin-right: 130px;
  }

  &__contacts {
    flex-basis: 270px;
  }
}

.copyright {
  &__logo {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    width: 137px;
    height: 28px;
  }

  &__img {
    width: 137px;
    height: 28px;
  }

  &__text {
    margin: 0;    

    letter-spacing: 0.6px;
    font-family: 'Open Sans', sans-serif;
    color: $color-text-blue;
  }

  &__text:not(:last-child) {
    margin-bottom: 25px;
  }
}

.links {
  padding-top: 11px;

  &__title {
    margin: 0;
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: $color-text-green;
  }

  &__list {
    margin: 0;

    list-style-type: none;
    letter-spacing: 0.6px;
  }

  &__item {
    margin: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 4px;
  }

  &__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: $color-text-blue;
  }
}

.contacts {
  padding-top: 11px;

  &__title {
    margin: 0;
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: $color-text-green;
  }

  &__text {
    margin: 0;

    letter-spacing: 0.6px;
    font-family: 'Open Sans', sans-serif;
    color: $color-text-blue;
  }

  &__tel, &__email {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: $color-text-blue;
  }

  &__list {
    margin: 0;
    margin-top: 16px;
    margin-left: -2px;
    display: flex;

    list-style-type: none;
  }

  &__item {
    margin: 0;
    margin-right: 12px;
    margin-bottom: 10px;
    font-size: 0;
    line-height: 0;
  }

  &__social {
    display: inline-block;
    width: 15px;
    height: 15px;

    color: $color-text-green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--facebook {
      width: 9px;
      background-image: url('../img/facebook.svg');
    }

    &--twitter {
      width: 16px;
      background-image: url('../img/twitter.svg');
    }

    &--twitch {
      width: 15px;
      background-image: url('../img/twitch.svg');
    }

    &--youtube {
      width: 17px;
      background-image: url('../img/youtube.svg');
    }

    &--slack {
      width: 14px;
      background-image: url('../img/slack.svg');
    }

    &--whatsapp {
      width: 15px;
      background-image: url('../img/whatsapp.svg');
    }
  }
}