<script src="./js/main.js" defer></script>
<script src="https://kit.fontawesome.com/a7c80760d5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(document).ready(function() {
    $('.carousel').slick({
      arrows: false,
      dots: true,
      infinite: true,
    });
  });

  $("#contentsMore").click(function() {
    $("#contentsList").slideDown('fast');
    $("#contentsMore").hide();
  });

  $("#main-nav-btn").click(function() {
    $("#main-nav").toggle();
    $("#main-nav-btn").toggleClass("main-nav__btn--close");
  });
</script>