body {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	line-height: 24px;
	color: $color-text;
	background-color: $bg-white
}

h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}

.container {
	@include container();
	@include sm(max-width, 510px);
	@include md(max-width, 690px);
	@include lg(max-width, 930px);
	@include xl(max-width, 1110px);
}

.img-responsive {
	max-width: 500px;
	width: 100%;
	height: auto;
}

    
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}

.btn {
	display: inline-block;
	padding: 12px 25px;
	border: none;
	border-radius: 3px;

	background-color: $color-button;	
	background-image: linear-gradient(90deg, rgba($color-button-gradient-left, 0.5), rgba($color-button-gradient-right, 0.5));
	box-shadow: 0px 2px 0px 0px rgba($color-button, 0.5);

	font-size: 18px;
	letter-spacing: 0.7px;
	text-align: center;
	text-decoration: none;
	color: $color-text-white;
}

.no-js {
	display: none;
}